﻿/* Local changes and additions to Bootstrap styles on orcid.chalmers.se */

.jumbotron {
	text-align: center;
	background-color: rgba(206, 229, 233, 1);
}

.jumbotron .btn {
	/*margin-left: 5px;
	margin-right: 5px;
	width: 300px;*/
    margin-bottom: 5px;
    margin-top: 45px;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer pre {
    font-size: 65%;
    color: rgb(90, 90, 90);
}

body {
    padding-top: 20px;
}

h1, h2 {
    font-weight: 600;
}

.masthead {
    margin-bottom: 18px;
}

.masthead img {
	padding-right: 14px;
}

.static-form-field {
	margin-top: 7px;
}

body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
	font-family: "Merriweather",Times,serif;
}

.btn {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.lead {
    font-weight: 700;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

.form-group {
    margin-bottom: 7px;
}

.centre-text {
    text-align: center;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -324px;
	padding: 0 0 60px;
}

#footer, .push {
	height: 324px;
}

.footer-article {
	background-color: transparent;
}

.footer-article p {
    max-height: 100px;
    overflow: auto;
    text-overflow: ellipsis;
}

.footer-siteinfo {
    background-color: #f2f2f2; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    position:relative; 
    padding-top: 18px; 
    padding-bottom: 18px; 
    padding-left: 32px;
}

.footer-siteinfo-updated {
	font-family: "Merriweather",Times,serif;
    font-size: 12px; 
    margin-top: 6px
}

.alert-info h2 {
	color: #4F6263;
}

.alert-info {
	color: #303030;
	background-color: rgba(240, 240, 194, 0.22);
	border-color: rgba(240, 240, 194, 0.22);
}

.lead {
	font-weight: 700;
	margin-left: 7%;
	margin-right: 7%;
}

.jumboinput {
	padding-top: 10px;
}
	
.jumbotron .form-group {
	margin-bottom: 0;
}	

.formjumbo {
	text-align: left;
}

.hide-asp-check {
    line-height: 0;
}

/* .NET specific */
form {
    height: 100%;
}